{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "semi": [2, "always"],
        "quotes": [2, "single"],
        "no-console": [0]
    },
    "env": {
        "node": true,
        "browser": true,
        "jquery": true
    },
    "globals": {
        "Calendula": true,
        "Base64": true
    },
    "extends": "eslint:recommended"
}
