.icon
{
    width: 14px;
    height: 11px;
    display: inline-block;
    border: 0;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 4px;
    opacity: 0.8;
}

.icon_locale_ru
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAA8ElEQVQoU22PP06CURDEfw++CjsaQyxobCy4hgk3oeUensIrUHAXCwsKQ0dMJCZv5u1aPCKITDa7s38nW47H5IyI6KGzuIKDAZhMADITCpDZswLjzFFeYL//GgAgMy9J3kIpJSLKcpmrVR4ORNBatkZEtpb2H2/ndFrW689hu43Foux22Gkhp5RS1nrt53OAAbCR8neht/tcVaqeKnaBGIAuWpUW59F/ClJCDBvGT3r5rh9hZ3XIURVySCdS3aRwu/PDhtfhGcZ+C73fPt6JhVtpj/cwBIxkZrOUcMNCKlL/DBub1roFlCPEhfE3vWoBPz+JZR57HzlrAAAAAElFTkSuQmCC);
}

.icon_locale_it
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABGklEQVR42mNkmMjA8IMBBP4xMPxheJr09B8qkFJV/QeWhCAWhi8M1a7VIPVA8P+fpKTk//9A3v//cCom5v/v3////AGSXzZtYmFgAYk/+fr077+/QIBQBwe3b///9QuomlFWFmgDC9AaoMlA1X+A6O9vdNVAAFQN1sDw+zdQA8j8vwx//wCt/AdC/zEBkgagYhagR4Fm//77+89fQhqA8gwMIA1/wWb/+vcLqAePBkawk5iAGn7///3rL0j177+/sGsAGw909R8GBrCTQEp/QxB2DX+AGoA+/Qv0Awsw1n7/+yPJLQnyxp+/4ChkYGRkZIADJSWQUjACOomRoZSB4RMojkHx/YPhbNVZoM3AOISQQPUK9vaQOIYAAC5Wd4QNeZN4AAAAAElFTkSuQmCC);
}

.icon_locale_uk
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAA9klEQVQoU22MQUpDUQxFz/t9CIrDTpQK4mZcjgtw7CLchmsQhO7AmYJzBSzoS3KvQH+rBUM43ISTNO7MviQSBAmpuceOQ0BH3F4DyJZbmRQlp1tqkZqinHLIUX64/+xMAG8blykRchVhR83SKA85yhenjS91hOQSaVKuYthZjp03yqMc5ShAnaFyS5Fy7n//sWfKIfigs1wvjy9HfZecUoiUQgo5SilFzXl1csT5Y6tXWN3YL2bgtMMe/3Kart6f1l2iOewBeSgd2JB2JnSJBWkH7KV/zqCgSLrE5ISz3TYgWgtI2DJnm5Jom2cklDPZ523gd0QAP0iHbugqOv3KAAAAAElFTkSuQmCC);
}

.icon_locale_tr
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABNElEQVQoU31RPWoCQRR+a7RLFLSysBDBxloPIImdBxA7j+ABrMUL2GuhhYVYWVkKYucRjCdQF5Kd2f1838xCIoQ8Hstj5/ubNwHkp5Ln+c8OSBiNJI6RJKKtg40ltrBWrIUx+PW9bzZZqgUBLheFEt3pKA3bLa5X4iIDEyGKdA4qFXUggdoe3e9Ls0lcrYbx2OEichxBjFFChrkVrY7VqrTbmE4xGGC9RhhiscDrm/NJTRSbYaSvb/59/4Ca7Pc8Ox6xXKJYxGqFVislWEsHRnJXxOUTImg0GKNex+nEVOczdjtP8JGy3JQzlfkc+TyGQ4bR6vVwv2M2S8NYilpPeHErUwFMJuh2kcsx/e3GnP4CVgncinhCBpBy2cnEcjgoMyiVpFAQJ8x2O9RmnPD5If95Y18PXUA+T0hfuLAAAAAASUVORK5CYII=);
}

.icon_locale_es
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABHUlEQVQoU32RLU9cURiEn3P3QgUBSbICBchW4Gv4DZXoFfwFsgkew2/BVlVhu/WLKoIEkk1hYe95PwZxLymbEN5Mnow4Z8RMEf8v1/2HKgLOzgBlkkmEPAiXO+4y0zs+XV21AEh/b4kgQmY9B1WTVdUqs7K3l9ASqAgC4nmRLwtt79bRF5dMqlIdTBrF8h9NAgT409LjEi7a5f3xquufvhNVGNAAEJKNfp/4nZfT6cZ8v3soa/HDH8+kASSXvP12+HiYnE9HX49abUqdVN9YpYoskyaTPuZ6/mfre1396H7Nfq52lm/ZA8Eld6d0MJpM8uaGoZahk4G9ccOjHBw8zGZtQmPOeCwzPHDDrJjhTk/3vnEiEspyfchPNu7vFXa0Sq82G4bHAAAAAElFTkSuQmCC);
}

.icon_locale_fr
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABNklEQVQYGW3APa6MURwG8OeceRVX4jYkMnQWILEBlVpiIxqNWkSpETV7ulsQncqdyTn/83x4jUgUftubzzf4y/Trl9eS5pySSLbWnrx45ltwgoCBDcCr548AxLFzPN5LAiCJ7SR33n8Ml6uy1o+37zbsgp/nJcX26XTKhe3WmqTr799cMzVx/wGBDUYcKbKl9N5JttZ67/6jhmeFs1UZ2EjLliyFVpLee7zLDoDnTE3XalUFbFW0I3nZYg6Hg3fA1mG3nefMKlc10sBWNJUlUyadf0jKrqaqUqtXFbCNomzSS+aSL5JI8oWqUtNrgcvANgZJL5rUov9jznB5rUYR2M5VpO9eHUSQvbXWe8dFuzg8PJpsYrQMbOczP3y9GaPOg7ejHl8dq2qNUVJVjTGefvpigIDx2y+R/3pliUcdHwAAAABJRU5ErkJggg==);
}

.icon_locale_be
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAA7UlEQVQoU12OMU5DQRBD30JAEQKEaFAKGi7AhbhJbsV1gC5IVCAQ1dgzQ/H/DwTLWk3ht/bgUJ8fnAdAFXVFfVE3FL9eAdvtFqiqqlqfJZcJHu1jfHShfnBLbbf0/fi4AqB3u9fMzMwqQXZrdqqfoiNaGre3c0NVZ6YzLXVnd3S7W93RHR2aAKQZyExP0pTb+z/ABNgp6Q8Qv0CpY56EvW+w7VAcAsu7NIz9JEkRYVvxN7ocy/dt75ZJ1qJ59z59oo5oCyeZXhq82Wwk2TmGQGMIDELmzmROLhgc6umFWOGizPWaeuftHsBwCs/wA69aZe9lhi8CAAAAAElFTkSuQmCC);
}

.icon_locale_en
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAB6ElEQVQoU2OYNHPfjqtvqqcfS2kGosOJjQdu3n27NrlxTUIdkOGZvc0jbYdtzIaoxp1zAvOr5x5lWLLi1P+Nq/79+3/74ZdFG27PX38HyP4/ped/XyuQMWnh5d65F06eePyvq+bf358TNl1gSGo5uOfku/9Ll/8/uPf///9t064Cyf+pmf8TEoF0Sd+lL4vWfO/uBrLnrbokaTIDpGHhhrt1E68+3Hf/T1P9fwiIifkfHgFi5Gb+f/Hiwp23jp7Li5qOCOpOZAA6FOQGNBAa+t/PD00MqOzMtZcMaxJr/0/u+J+S8j8+/n9k5P+QEJBSH59/rq6/7O1/Wlp+NzH5qqf3VVv7Z7Bbq7wVDhtsbf+YWUDMBeK/f//++fvn958/J6++YLCP29Qz53xU2o4rV9//f/vmZ3I8SJWRyW99Q7CGv0+dHPfP3CohPSskYT2DcDaDedi6xetBIfO5se5DV1dMyTEg+4+27i9NbaCrreyX/Pz//8usuS8SYpqmnmMQTGeYvPnyv39/v7dXHD1wu7DhYF7DYaAL/4Z4/A5y/vf3b3jattC41dsP3/r758frBN/soiUMVfMOTHFJds5cJKgzh0djMofqhPPXXrRKW7SIm5y+8pJBvJhBtIBBOFfEsK53z3VX0zwAPExoqlCXC2gAAAAASUVORK5CYII=);
}

.icon_locale_de
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAABLklEQVQoU3WQPUoEURCEa34WjEQxMXBTQwXXyFAxEzT0HgbewosIewkTTT2KINOvf+2eWTSyp6eo96a+aeju7u4GNsEdw8jqLBougOOfGkWmp6fndD6XmZotqrsS0fKStd2+jn3fA3j/+KwP8zVntXp+i4jyvX+4rglr4MB9PaeVuYjWspMSIm6UgEyU/LFKAY/SNmYbkWCORVvLdmreaDYUU3OmleiYQAiHGTLHEplg9h0wp7OnaeErWQAA078fpyHK9A7LNDfLdN6bWG3pCjiNGDzMXbJtMVHrTYVJpHrqZUdvOeEMceJxmKnqSDWN2rAua867+Yg46vwWIxihgtVFD+4KSFWERPlUjUhCawpr/41u+3K+Z/DEBrQJDsQ+eoIbeIBxmVUPJ2DAF+MHOCCHYTGcRZ8AAAAASUVORK5CYII=);
}

.icon_locale_pl
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAA7ElEQVR42mP8//EjAwz8g+N//4D0P2yABaSQjw9I/P//nxGs7f9/EMH4/z8zAwPTfxTw5dkzFgaoov/IjP/YACMj478/f1iIVA2RAjqJBehWRrhqMMSjAaiDhYGfn6Gv7/+zZ////GH48+c/HP3+/f83kPEbzPgNkpWW/rdwIdhJDx/+f/Dg/+9fDL8h6n79//X7/69fIDYSyfjpE9A5YCeBhUDGIytCVQ2x/A8DA0gDM9gBDHBFmNr+ADX8Zfj7F+gckAam338YJCXBxvxl+APSyQg2kgFCAtHfvxAEVMz4FRy5cMSAykWTAgIA0PVcqM6M7M0AAAAASUVORK5CYII=);
}